{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row-fluid">
            <div class="action-button-panel">
                <button class="btn btn-sm btn-primary"><i class="fa fa-plus-square"></i> 추가</button>
                <button class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i> 내보내기</button>
                <button class="btn btn-sm btn-success"><i class="fa fa-paperclip"></i> 메일에 첨부</button>
            </div>
        </div> 

        <table class="table table-striped table-condensed">
            <!-- <thead> -->
                <thead style="display: table-header-group; vertical-align: middle; border-color: inherit;background-color: #bdc3c7; border-bottom: 4px solid #999; color: #555;">
                <tr>
                    <th>품명</th>
                    <th>부품명</th>
                    <th>현수량</th>
                    <th>구매수량</th>
                    <th>사용수량</th>
                    <th>회수</th>
                    <th>잔고</th>
                    <th>사용처 및 회수처</th>
                </tr>
            </thead>
            <tbody>
                {% for component in components %}
                <tr>
                    <td>{{ component.category }}</td>
                    <td><a style="text-decoration: none" href="{{ component.get_absolute_url }}">{{ component.name }}</a></td>
                    <td>{{ component.total_quantity }}</td>
                    <td>{{ component.being_purchased }}</td>
                    <td>{{ component.being_used }}</td>
                    <td>{{ component.being_repaired }}</td>
                    <td>
                        {% if component.available_quantity <= 5 and component.available_quantity > 0 %}
                        <span class="label label-warning">{{ component.available_quantity }}</span>
                        {% elif component.available_quantity <= 0 %}
                        <span class="label label-danger">{{ component.available_quantity }}</span>
                        {% elif component.available_quantity > 5 %}
                        <span class="label label-default">{{ component.available_quantity }}</span>
                        {% endif %}
                    </td>
                    <td>{{ component.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
</div>


{% endblock content %}
