<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">미니 프로젝트 이름</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">구성 요소</a></li>
        <li class=""><a href="#">보고서 DB</a></li>
      </ul>
      <!-- <div class="nav navbar-nav navbar-right"> -->
      <!--   <li class="dropdown"> -->
      <!--   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 유저 <span class="caret"></span></a> -->
      <!--   <ul class="dropdown-menu" role="menu"> -->
      <!--     <li><a href="#">비밀번호 변경</a></li> -->
      <!--     <li class="divider"></li> -->
      <!--     <li><a href="#">로그아웃</a></li> -->
      <!--   </ul> -->
      <!--   </li> -->
      <!-- </div> -->
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>
